<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=<?php echo $charset ?>" />
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta name="description" content="<?php echo $description ?>" />
	<meta name="keywords" content="<?php echo $keywords ?>" />
	<meta name="author" content="E. Wenners / FreeWebshop.org" />
<meta name="verify-v1" content="yPhtwY28sOZI2bpcn1PKNLEHcKZNyaDnsmnpE2t4Luo=" />
<meta name="verify-v1" content="cl6o9coEgBl4LQSynNnn/u0H6LPnoA9pw6rvtwGJ/Uo=" />
<meta name="verify-v1" content="wG1WW4WbPH89O1jsukeqbsSnOshq3QJc/TBBExL1j1Q=" />
	<title><?php echo $page_title ?></title>
<link href="http://www.redback.nl/favicon1234.ico" rel="SHORTCUT ICON" />
	<link rel="stylesheet" type="text/css" href="<?php echo $template_dir."/".$template."/"; ?>stylesheet.css" />
	<link rel="stylesheet" href="addons/lightbox/lightbox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="addons/lightbox/lightbox.js"></script>

</HEAD>
<body>

 <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="9" height="9" bgcolor="#6b7994"><img src="<?php echo $gfx_dir; ?>/untitledlbgif.gif" width="9" height="9"></td>
    <td height="9" bgcolor="#FFFFFF"></td>
    <td height="9" width="9" bgcolor="#6b7994"><img src="<?php echo $gfx_dir; ?>/untitledrbgif.gif" width="9" height="9"></td>
  </tr>
  <tr> 
    <td width="9" bgcolor="#FFFFFF">&nbsp;</td>
    <td bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="10" cellspacing="0">
                            <tr><td align="center" colspan="3" width="100%" valign="center"><?php include("header.php"); ?>
						        <br />
							    <div id="navcontainer2"><?php include("topmenu.php"); ?></div></td></tr>
							<tr><td width="200" valign="top" align="left"><div id="navcontainer"><?php include("menu_products.php"); ?><br />
<h1>Sale !!</h1>
<ul id="navlist">
<li><a href="index.php?page=browse&action=list&orderby=DESCRIPTION&group=17&cat=17">Scippis hoeden...</a></li>
<li><a href=http://www.redback.nl/index.php?page=details&prod=3&cat=3&group=3>Redback UBOK...</a></li>
<li><a href="index.php?page=browse&action=list&orderby=DESCRIPTION&group=17&cat=17">Kleding...</a></li>
<li><a href="index.php?page=browse&action=list&orderby=DESCRIPTION&group=17&cat=17">Accessoires...</a></li>
</ul></div></td>
							    <td width="700" valign="top" align="left"><?php include("loadmain.php"); ?></td>
							    <td width="200" valign="top" align="left"><div id="navcontainer"><?php include("menu_general.php"); ?><br />
								<?php include("menu_extra.php"); ?><br />
<h1>Meest populair</h1>
<ul id="navlist">
<li><a href=http://www.redback.nl/index.php?page=details&prod=19&cat=2&group=2>Akubra Cattleman...</a></li>
<li><a href=http://www.redback.nl/index.php?page=details&prod=3&cat=3&group=3>Redback UBOK...</a></li>
<li><a href=http://www.redback.nl/index.php?page=browse&action=list&orderby=DESCRIPTION&group=4&cat=4>Rossi Boots...</a></li>
<li><a href=http://www.redback.nl/index.php?page=browse&action=list&orderby=DESCRIPTION&group=17&cat=17>Sale...</a></li>
<li><a href=http://www.redback.nl/index.php?page=browse&action=list&orderby=DESCRIPTION&group=11&cat=11>Aussie Shirts...</a></li>
<li><a href=http://www.redback.nl/index.php?page=browse&action=list&orderby=DESCRIPTION&group=6&cat=6>Australian Roadsigns...</a></li>
</ul></div></td>
							</tr>
							<tr>
							    <td colspan="3" width="100%" align="center" valign="center">Ozshop, Australia Shop |  &copy;<SCRIPT LANGUAGE="JavaScript"><!--
d = new Date();
day = d.getDay();
mon = d.getMonth();
date = d.getDate();
year = d.getYear();
hr = d.getHours();
min = d.getMinutes();
sec = d.getSeconds();

if(year<1000){year=(""+(year+11900)).substring(1,5);}
else{year=(""+(year+10000)).substring(1,5);}

if(hr==0){ap=" AM";hr=12}
else if(hr <= 11){ap=" AM"}
else if(hr == 12){ap=" PM";hr=12}
else if(hr >= 13){ap=" PM";hr-=12}

if(min <= 9){min="0"+min}
if(sec <= 9){sec="0"+sec}

zday=new Array();
zday=["Zondag","Maandag","Dinsdag","Woensdag","Donderdag","Vrijdag","Zaterdag"];
zmon=new Array();
zmon=["Januari","Februari","Maart","April","Mei","Juni","Juli","Augustus","September","Oktober","November","December"];

document.write(""+zday[day]+", "+date+" "+zmon[mon]+" "+year+" "+hr+":"+min+":"+sec+ap+"");
//--></script>
<br /><br /><a class="plain" href="http://www.freewebshop.org"><img src="templates/rounded/images/poweredby.png" alt="Powered by FreeWebshop.org" class="borderless" /></a></td>
							</tr>
						 </table>	    
    </td>
    <td width="9" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr> 
    <td height="9" width="9" bgcolor="#6b7994"><img src="<?php echo $gfx_dir; ?>/untitledlogif.gif" width="9" height="9"></td>
    <td height="9" bgcolor="#FFFFFF"></td>
    <td height="9" width="9" bgcolor="#6b7994"><img src="<?php echo $gfx_dir; ?>/untitledrogif.gif" width="9" height="9"></td>
  </tr>
 </table>
 <br /><br />
</body>
</html>